<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
    <%- include('./partials/head.ejs') %>

    <title>Saved Books</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
    <main>
      <h1>Your Library</h1>
        <ul>
            <% books.forEach( book => { %>
            <li id="row">
              <img height="270px" width="200px" src= "<%= book.image_url %>" alt="">          
              <h3>
                <%= book.title %>
              </h3> 
              <p>
                <%= book.authors %>
              </p> 
              <p id="desc">
                <%= book.description %>
                
              </p>
              <p>
                <%= book.amount %>
              </p>
              <form action="/delete/<%= book.id %>" name="" method="POST">
                <input type="hidden" name="id" value="<%= book.id %>">
                <button>Delete Book</button>

              </form>
                <button class="update">Update Book</button>
                <div id="books">
                  <form class="bookUpdate" method="post" action="/bookUpdate/<%= book.id %>?_method=put">
                <label>
                     <p>Title:</p>
                     <input name="title" class="textInput" value="<%= book.title %>" />
                      </label>
                <label>
                     <p>Author:</p>
                     <input name="authors" class="textInput" value="<%= book.authors %>" />
                </label>
                <label>
                     <p>ISBN:</p>
                     <input name="isbn" class="textInput" value="<%= book.isbn %>" />
                </label>
                <label id="desc">
                     <p>Description:</p>
                     <input name="description" class="textInput" value="<%= book.description %>" />
                </label>
                <label>
                     <p>Image:</p>
                    <input name="image_url" class="textInput" value="<%= book.image_url %>" />
                </label>
                <label>
                    <p>Price:</p>
                    <input name="amount" class="textInput" value="<%= book.amount %>" />
                </label>
                <label>
                    <p>Saved Bookshelf:</p>
                    <input name="bookshelf" class="textInput" value="<%= book.bookshelf %>" />
                </label>
                    <input type="hidden" name="id" value="<%= book.id %>">
                    <button type="submit">Save Book</button>
                    <button type="button" class="cancel-update">Cancel</button> 
              </form>
            </div>
            </li>
            <% }) %>
        </ul>
    </main>
    
    <%- include('./partials/scripts.ejs') %>
</body>
</html>