<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
    <%- include('./partials/head.ejs') %>

    <title>Saved Books</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
    <main>
      <h1>Your Library</h1>
        <ul>
            <% books.forEach( book => { %>
            <li id="row">
              <img height="270px" width="200px" src=" <%= books.image %>" alt="">
              <h3>
                <%= book.title %>
              </h3> 
              <p>
                <%= book.author %>
              </p> 
              <p>
                <%= book.description %>
                
              </p>
              <p>
                <%= book.amount %>
              </p>
              <form action="delete" method="post">
              <button id="deleteBook">Delete Book</button>
              </form>
              
            </li>
            <% }) %>
        </ul>
    </main>
    
    <%- include('./partials/scripts.ejs') %>
</body>
</html>